#cy {
    width: 100%;
    height: 100%;  /* Definisci una buona altezza per assicurarti che il grafo sia visibile */
    border: 1px solid #ccc;
}

.page {
    background: #303030;
}

#upperBlock{
    display: flex;
    height: 90%;
}

#rightColumn{
    display: flex;
    flex-direction: column;
    text-align-last: center;
    padding-block: 20%;
}

#outMessages{
    color:white
}

.inputButton{
    margin: auto;
    font-size: large;
}

.invalidFeature{
    color:coral
}
.providerFeature{
    color:aquamarine
}
.declaration{
    color:khaki
}

